body{
    margin : 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
/*
Adds apace in the input tag
*/
input{
    width: 100%; /* 100% + 10px + 10px*/
    
    padding: 10px;
    box-sizing: border-box;/* with this i have padding*/
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button{
    background: #5f9341;
    color: white;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    /*
    padding-right: 20px; 
    padding-bottom: 10px;
    padding-top: 10px;*/
}
#delete-btn{
    background: white;
    color: #5f9341;
    padding: 10px 20px;
    /*
    padding-right: 20px; 
    padding-bottom: 10px;
    padding-top: 10px;*/
}

/*style lists*/

ul {
    margin-top: 20px ;
    list-style: none;
    padding-left: 0;

}

li {
    margin-top: 5px;

}
/*li a  is used for saying that all the elements a in an li has those characteristics*/
li a  {
    color: #5f9341;

}